@model SequencesViewModel

<h2>Numeric Sequence Calculator</h2>

<p>
    This application displays the calculation of various numeric sequences accoring to the following requirements:
</p>

<ul>
    <li>
        Upon entering an input number they system shall display the following four numeric sequences:
        <ol>
            <li>All numbers up to and including the number entered</li>
            <li>All odd numbers up to and including the number entered</li>
            <li>All even numbers up to and including the number entered</li>
            <li>
                All numbers up to and including the number entered
                <ul>
                    <li>except when a number is a multiple of 3 output C,</li>
                    <li>and when a number is a multiple of 5 output E,</li>
                    <li>and when a number is a multiple of both 3 and 5 output Z</li>
                </ul>
            </li>
        </ol>
    </li>
</ul>
<br />

<form asp-action="Index" asp-controller="Home" method="post">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="InputNumber"></label>
        <input asp-for="InputNumber" />
        <span asp-validation-for="InputNumber"></span>
    </div>

    <input type="submit" value="send" />
</form>

@if (Model.Sequences != null)
{
    string listNumbers = String.Empty;

    <h3>Sequences:</h3>

    if (Model.Sequences.AllNumbersSequence != null)
    {
        foreach (var num in Model.Sequences.AllNumbersSequence)
        {
            listNumbers += num + " ";
        }
        <p>Sequence with all numbers: @listNumbers</p>
    }

    if (Model.Sequences.OddNumbersSequence != null)
    {
        listNumbers = String.Empty;
        foreach (var num in Model.Sequences.OddNumbersSequence)
        {
            listNumbers += num + " ";
        }
        <p>Sequence with odd numbers: @listNumbers</p>
    }

    if (Model.Sequences.EvenNumbersSequence != null)
    {
        listNumbers = String.Empty;
        foreach (var num in Model.Sequences.EvenNumbersSequence)
        {
            listNumbers += num + " ";
        }
        <p>Sequence with even numbers: @listNumbers</p>
    }

    if (Model.Sequences.AllNumbersSecondSequence == null)
    {
        <p>Special Character: @Model.Sequences.CharacterOutput</p>
    }
    else
    {
        listNumbers = String.Empty;
        foreach (var num in Model.Sequences.AllNumbersSecondSequence)
        {
            listNumbers += num + " ";
        }
        <p>Second sequence with all numbers: @listNumbers</p>
    }
}